.contenedor {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
}

.img-utvt {
    width: 50%;
    height: auto;
}

.siempre-cuervos {
    width: 120px;
    height: auto;
}

.img-edomex{
    width: 9%;
    height: auto;
}


form {
    padding: 60px;
    max-width: 400px;
    background-color: #E7E7E7;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
}

form input, form textarea {
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    color: #525c66;
    font-size: 1em;
    resize: none;
}

form input [type=submit] {
    display: block;
    background-color: #0095eb;
    padding: 10px 45px 10px 45px;
    border: 0;
    font-size: 1em;
    color: white;
    font-family: "Roboto", sans-serif;
}

form input [type=submit]:hover {
    background-color: #046193;
}